*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.about{
    padding: 10px 30px;
    width: 100%;
}
img{
    width: auto;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.photos{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex   ;
}